[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"

[packages]
google-cloud-firestore = "*"
jsonschema = "*"

[pipenv]
allow_prereleases = true

[scripts]
tox = "tox"
fs-emulator = 'gcloud beta emulators firestore start --project test --host-port "localhost:8001"'
sphinx-autobuild = "sphinx-autobuild docs-src docs --watch ."